<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${locale}"/>
</head>
<body>

<table style="border: 2px solid black">
    <tbody>
    <th:block th:each="msg : ${carsList}">
        <tr>
            <td style="border: 1px solid gray" th:text="${msg.getName()}"/>
            <td style="border: 1px solid gray" th:text="${msg.getModel()}"/>
            <td style="border: 1px solid gray" th:text="${msg.getNumber()}"/>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>